
#principal{
    width: 80%;
    height: 1000px;
    margin: auto;
}

#cabecalho{
    width: 100%;
    height: 200px;
    background-image: url("imagens/baner1.jpeg");
    background-size: 100% 100%;
}

#menu{
    width: 100%;
    height: 50px;
}

.item{
    height: 50px;
    width: 20%;
    float: left;
    background-color: black;
    color: rgb(247, 247, 242);
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.item:hover{
    background-color: #2E2E2E;
    transition: background-color 1s;
}

    #texto{
        color:white;
        font-size: 22px;
        background-color:black;
        text-align: justify;
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .miniatura  {
   width: 33.33%;
   height: 400px;
   float:left;
}

.miniatura img{
    height: 100%;
    width: 100%;
}


#menu2{
    width: 100%;
    height: 50px;
}

.item2{
    height: 50px;
    width: 33.33%;
    float: left;
    background-color: black;
    color: rgb(247, 247, 242);
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}

.item2:hover{
    background-color: #2E2E2E;
    transition: background-color 1s;
}


@media screen and (max-width: 900px) {
#texto{ 
    font-size: 19px;
}
    .miniatura {
    height: 150px;
    }

    .item{
        font-size: 15px;
    }
} 

@media screen and (max-width: 500px) {
    #principal{
        width: 100%;
    }

    .item{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
} 
 
@media screen and (max-width: 700px) {

    #texto{
        font-size: 15px;
    }

    .miniatura{
        height: 130px;
    }
    .item{
        font-size: 15px;
    }
} 


@media screen and (max-width: 600px) {
    #principal{
        width: 100%;
    }

    .item{
        font-size: 15px;
    }
} 

@media screen and (max-width: 200px) {
    #texto{ 
        font-size: 19px;
    }
        .miniatura {
        height: 100px;
        }
    
        .item{
            font-size: 15px;
        }
    } 

@media screen and (max-width: 1500px) {
    #texto{ 
        font-size: 25px;
    }
        .miniatura {
        height: 300px;
        width: 33.33;
        }
    
        .item{
            font-size: 20px;
        }
}